$color-blue: #003d72;
$color-orange: #e07638;
$color-blue-light: #337ab7;
$color-orange-light: #db773e;
$color-white: #f9f9f9;

.mt-4.btn.btn-primary.disabled {
  background-color: $color-orange;
  border-color: $color-orange;
  transition: 0.3s;
  &:hover {
    background-color: $color-orange-light;
    border-color: $color-orange-light;
  }
}
.form-card {
  width: 90rem;
}

.error {
  color: red;
  font-weight: 800;
  font-size: 0.9rem;
}
