.form-card {
  width: 90rem;
}

.error {
  color: red;
  font-weight: 800;
  font-size: 0.9rem;
}

.custom-select {
  border: 0px;
}

.agregar {
  background-color: #e07638;
  border-color: #e07638;
  color: white;

  &:focus {
    color: white;
    background-color: #e07638;
    border-color: #e07638;
  }
  &:hover {
    color: white;
    background-color: #e07638;
    border-color: #e07638;
  }
}
